@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@1&family=Lobster&display=swap");

/* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lobster', cursive; */

body {
  margin: 4rem;
  font-size: 2.7vw;
  background-color: #252d33;
  color: rgba(256, 256, 256, 0.85);
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 5rem !important;
  }
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 5vw;
}

h2,
p {
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: none;
  position: relative;
}
a:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(0, 226, 182, 0.7);
}
a:hover:after {
  top: 0%;
}

a:visited {
  color: inherit;
}

.teal {
  color: rgba(0, 226, 182, 0.9);
}
